* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
}


label { 
  display: block;
  margin-bottom: 8px;
  color: white;
  display: flex;
  font-size: 110%;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#novaTarefa {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #222;
  color: white;
  border-radius: 0%;
}

button {
  padding: 10px;
  background-color: rgba(30, 30, 30, 1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #111;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: white;
}

.tarefa-conteudo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.botoes {
  display: flex;
  gap: 10px;
}

.btn-editar, .btn-remover {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-size: cover;
}

.btn-editar {
  background-image: url('Img/PencilSimple.png');
}

.btn-remover {
  background-image: url('Img/Trash.png'); 
  width: 2px;
}
